.name {
	font-weight: bold;
	font-size: 50px;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}

.occupation {
	font-size: large;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}

.employee {
	font-size: large;
	color: white;
	font-family: "Times New Roman", Georgia, Serif;
}
}